<form action="/" method="get">
  <input type="text" name="title" placeholder="Type your movie here">
  <button>Find It</button>
</form>
<% if @result %>
  <div class="movie">
    <h2><%= @result["Title"]%></h2>
    <img src= <%= @result["Poster"]%> >
    <p>Released <%= @result["Released"]%> and rated <%= @result["Rated"]%>, <%= @result["Title"]%> is an <%= @result["Genre"].downcase%> that tells the story of <%= @result["Plot"]%></p>

    <p>This <%= @result["Type"]%> runs for <%= @result["Runtime"]%> and is written in <%= @result["Language"]%>. Directed in <%= @result["Country"]%> by <%= @result["Director"]%> and written by <%= @result["Writer"]%>, it starred <%= @result["Actors"]%> and <%= @result["Awards"]%></p>

    <p>IMdb gives this movie a score of <%= @result["imdbRating"]%> based on <%= @result["imdbVotes"]%> votes. It has a meta score of <%= @result["Metascore"]%>.</p>
  </div>
<% end %>
