
<!-- <h2>
  <a href="/diagrams/<%= diagram.id %>">
    <%= diagram.diagram_name %>
  </a>
</h2> -->


<div class = 'diag_heading' id = 'diagram_oview_title'>"<%= diagram.oview_title %>"</div>
<p id = 'diagram_oview_text'>"<%= diagramd.oview_text %>"</p>


Center fields -->
<div class = "wrapper">

  #<div class = 'diag_heading' id = 'diagram_name'><%= @diagram_to_show.diagram_name %></div>
  #<div class = 'diag_subheading' id = 'diagram_type'><%= @diagram_to_show.diagram_type %></div>




</div>
