<a href="/videos/new">Add video</a>
<h2>Browsing all videos</h2>
<% @videos.each do |video| %>
  <div class="video">
    <div>
      <a href="/videos/<%= video.id %>"><%= video.title %></a>
    </div>
    <div><%= video.description %></div>
    <div><%= video.genre %></div>
    <div><a href="<%= video.url %>" target="_blank"><%= video.url %></a></div>
  </div>
<% end %>
