

<div id = "top-block">


  <img src="<%= @image %>" />

  <div class = list>

    <ul>

     <li id ="big-title"><%= @movie_title %></li>

     <li>Release year: <%= @year %></li>

     <li>Duration: <%= @runtime %></li>

     <li>Genre: <%= @genre %></li>

     <li>Director: <%= @director %></li>

     <li>Main starts: <%= @actors  %></li>

    </ul>

  </div>

</div>
