<div class="header">
  <h1>Natural Satellites</h1>

</div>
<div class="space"></div>
<div class="content">

  <% @satellites.each do |satellite| %>

    <div class="ui-card">
      <header class="content">
        <span class="right"><%= time_ago_in_words(satellite.created_at) %></span>
      </header>

      <div class="image">
        <img src="<%= satellite.img_url %>" alt="" />
        <span class="star">&#9733;</span>
      </div>

      <div class="ui-content">
        <h3><%= satellite.name %></h3>
        <span><%= truncate(satellite.description, length: 100) { link_to "(See more)", "#" } %></span>
      </div>

      <div class="ui-content">
        <span alt="Edit"> <a href="#"><%=  %></a></span>
        <%= link_to image_tag("edit.png",class: "btn-card", alt: 'Edit') , edit_satellite_path(satellite) %>
         <%= link_to image_tag("delete.png",class: "btn-card right", alt: 'Edit'), satellite, method: :delete, data: { confirm: "Are you sure you want to delete this item?"} %>

      </div>
    </div>

  <% end %>
</div>
