<div>
  <h2>Result (<%= @list.length %>)</h2>
</div>

  <div class="listing">
    <% i = 0 %>
    <% @list.each do |result| %>
    <% i = i + 1 %>
    <br>
    <section id="listDiv">
      <%= i %>
      <a href="/about?movie=<%= result["Title"]%>"><%= result["Title"]%>: <%= result["Year"]%> <img id="smallImg" src="<%= result["Poster"] %>" alt="no img"></a>
    </section>
  <br>
  <% end %>
  </div>
