extends layout
block content

  h2 movie info...
  h3= Title
  img(src=Poster, alt=Title)
  p Released: #{Year}
  p Rating: #{imdbRating}
  p Director: #{Director}
  p Starring: #{Actors}
  p Plot: #{Plot}