<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Movies
body
  h2 movie info...
  h3= Title
  img(src=Poster, alt=Title, style="width: 300px")
  p Released: #{Year}
  p Rating: #{imdbRating}
  p Director: #{Director}
  p Starring: #{Actors}
  p Plot: #{Plot}