<h2><%= @planet.title %></h2>

<img src="<%= @planet.image_url %>" alt="">

<p><%= @planet.description %></p>

<form action="/planets/<%= @planet.id %>/edit">
  <button>Edit</button>
</form>

<form action="/planets/<%= @planet.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
