<a href="/">Back to index</a>
<h2><%= @post['caption'] %></h2>
<div>
  <a href="<%= @post['image_url'] %>"><img src="<%= @post['image_url'] %>" alt="<%= @post['caption'] %>" /></a>
</div>
<div>
  <a href="/posts/<%= @post['id'] %>/edit">Edit</a> |
  <form action="/posts/<%= @post['id'] %>/delete" method="post">
    <button>Delete post</button>
  </form>
</div>

<script>
  var $form = $('form');
  $form.submit(function(e) {
    e.preventDefault();
    $.ajax({
      url: '/posts/<%= @post['id'] %>',
      method: 'DELETE'
    })
    .done(function(res) {
      // Client side redirect to home
      window.location.href = '/';
    })
  });
</script>
