<!DOCTYPE html>
<html>
  <head>
    <title>NMS Lite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h3>NMS Lite</h3>
      <p>Hi, <%= current_user.username %></p>
      <p><a href="/planets/new">Add planet</a></p>
      <%= form_tag('/session', method: :delete) do %>
        <button>Logout</button>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
