<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <h3 class="message" id="<%= @type %>">
        Logged in as <%= current_user.email %>
        </h3>
      <% end %>
      <h1><a href="/planets">PLANETS</a></h1>
    </header>

          <%= yield %>





  </body>
</html>
