<% if @movie["Response"] == "True" %>
  <h2><%= @movie["Title"] %></h2>
  <img src="<%= @movie["Poster"] %>" alt="poster" />
  <dl>
    <dt>Released</dt>
    <dd><%= @movie["Released"] %></dd>
    <dt>Genre</dt>
    <dd><%= @movie["Genre"] %></dd>
    <dt>Runtime</dt>
    <dd><%= @movie["Runtime"] %></dd>
    <dt>Directed by</dt>
    <dd><%= @movie["Director"] %></dd>
    <dt>Writers</dt>
    <dd><%= @movie["Writer"] %></dd>
    <dt>Actors</dt>
    <dd><%= @movie["Actors"] %></dd>
    <dt>Plot</dt>
    <dd><%= @movie["Plot"] %></dd>
    <dt>Awards</dt>
    <dd><%= @movie["Awards"] %></dd>
    <dt>Metascore</dt>
    <dd><%= @movie["Metascore"] %></dd>
    <dt>IMDb rating</dt>
    <dd><%= "#{@movie["imdbRating"]} (#{@movie["imdbVotes"]} votes)"%></dd>
  </dl>
<% else %>
  <p>Movie not found</p>
<% end %>
