<% @planets.each do |planet| %>
  <article>
    <p><a href="/planets/<%= planet.id %>"><%= planet.name %></a></p>
    <p>Moons: <%= planet.moons.count %></p>
    <img src="<%= planet.image_url %>" alt="<%= planet.name %>">
  </article>
<% end %>

<img src="http://www.celebrateinquiry.org/images/sagan.png" alt="sagan">
