<p>Name: <%= @planet.name %></p>
<p>Submitted by: <%= @planet.user.username %></p>
<p>Radius: <%= @planet.radius %>km</p>
<img src="<%= @planet.image_url %>" alt="<%= @planet.name %>">
<p>Added <%= get_time_elapsed @planet.created_at %> ago</p>

<% if current_user && current_user.id == @planet.user.id %>
  <p><a href="/planets/<%= @planet.id %>/edit">Edit</a></p>
  <%= form_tag("/planets/#{ @planet.id }", method: :delete) do %>
    <button>Delete</button>
  <% end %>
<% end %>

<p>Moons:</p>
<% @moons.each do |moon| %>
  <p>Name: <%= moon.name %></p>
  <p>Submitted by: <%= moon.user.username %></p>
  <p>Radius: <%= moon.radius %>km</p>
<% end %>
