<div class="show">
  <p><%= @planet.name %></p>
  <p>(Radius: <%= @planet.radius %>km)</p>
  <img src="<%= @planet.image_url %>" alt="<%= @planet.name %>">
  <p>Submitted by: <%= @planet.user.username %>, <%= get_time_elapsed @planet.created_at %> ago</p>

  <% if current_user && current_user.id == @planet.user.id %>
    <div class="edit">
      <p><a href="/planets/<%= @planet.id %>/edit">Edit</a></p>
      <%= form_tag("/planets/#{ @planet.id }", method: :delete) do %>
        <button>Delete</button>
      <% end %>
    </div>
  <% end %>
</div>

<p>Moons:</p>
<% @moons.each do |moon| %>
  <p>Name: <%= moon.name %></p>
  <p>Submitted by: <%= moon.user.username %></p>
  <p>Radius: <%= moon.radius %>km</p>
<% end %>

<% if current_user %>
  <p>Add moon:</p>
  <%= form_tag('/moons', method: :post) do %>
    <input type="hidden" name="planet_id" value="<%= @planet.id %>">
    <label>Name</label>
    <input name="name" type="text">
    <label>Radius</label>
    <input name="radius" type="text">
    <input type="submit">
  <% end %>
<% end %>
