<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>My Movie List</title>
</head>
<body>

  <p>Title: <%= "#{ @info.title }"%> </p>
  <p>Year: <%= "#{ @info.year }"%> </p>
  <p>Rated: <%= @info.rated %> </p>
  <img src= <%= @info.poster %>>
  <p>Runtime: <%= @info.runtime %> </p>
  <p>Genre: <%= @info.genre %> </p>
  <p>Writer: <%= @info.writer %> </p>
  <p>Actors: <%= @info.actors %> </p>
  <p>Plot: <%= @info.plot %> </p>
  <p>Country: <%= @info.country %> </p>
  <p>Awards: <%= @info.awards %> </p>
  <p>IMDb rating: <%= @info.imdbrating %> </p>
  <p>Metascore: <%= @info.metascore %> </p>

</body>
</html>
