<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>

  <p>Title: <%= @title %> </p>
  <p>Year: <%= @year %> </p>
  <p>Rated: <%= @rated %> </p>
  <img src=" <%= @poster %>">
  <p>Runtime: <%= @runtime %> </p>
  <p>Genre: <%= @genre %> </p>
  <p>Writer: <%= @writer %> </p>
  <p>Actors: <%= @actor %> </p>
  <p>Plot: <%= @plot %> </p>
  <p>Country: <%= @country %> </p>
  <p>IMDb rating: <%= @imdb %> </p>
  <p>Metascore: <%= @metascore %> </p>

</body>
</html>
