<h2><%= @character['name']%></h2>
<p>Gender: <%= @character['gender']%></p>
<p>Age: <%= @character['age']%></p>

<div class="buttons">
  <a href="/characters/<%= @character['id']%>/edit" class="btn">Edit</a>
  <form action="/characters/<%= @character['id']%>/delete" method="post">
    <button>Delete</button>
  </form>
</div>
