<form action="/">

  <input name="title" type="text" placeholder="Enter movie title">
  <button>press here to get the info</button>

</form>

<section>

  <img src="<%= @info["Poster"] %>" alt="">
  <h2><%= @info["Title"] %></h2>
  <p>Year: <%= @info["Year"] %></p>
  <p>Runtime: <%= @info["Runtime"] %></p>
  <p>Genre: <%= @info["Genre"] %></p>
  <p>Director: <%= @info["Director"] %></p>
  <p>Starring: <%= @info["Actors"] %></p>
  <p>Plot: <%= @info["Plot"] %></p>
  <p>IMDb Rating: <%= @info["imdbRating"] %></p>

</section>

<script>

  section = document.getElementsByTagName('section')[0];
  params = "<%= @params[:title] %>";
  info = "<%= @info["Response"] %>";

  if (params.length === 0) {
    section.innerHTML = "";
  } else if (info === "False") {
    section.innerHTML = "<p>Movie not found</p>";
  }

</script>
