<h2><%= @recipe["name"] %></h2>

<p>Style - <%= @recipe["style"] %></p>
<p>Grain Bill - <%= @recipe["grain_bill"] %></p>
<p>Mash Temp - <%= @recipe["mash_temp"] %> degrees</p>
<p>Mash Time - <%= @recipe["mash_time"] %>mins</p>
<p>Hop Additions - <%= @recipe["hop_additions"] %></p>
<p>Ferment Temp - <%= @recipe["ferment_temp"] %> degrees</p>
<p>Original Gravity - <%= @recipe["osg"] %></p>
<p>Final Gravity - <%= @recipe["fsg"] %></p>
<p>ABV - <%= @recipe["abv"] %></p>
<p>Comments - <%= @recipe["comments"] %></p>

<p><a href="/edit/<%= @recipe["id"] %>">edit</a></p>
<form action="/delete/<%= @recipe["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>
